In [1]:
# https://medium.com/@iryna230520/dynamic-few-shot-prompting-overcoming-context-limit-for-chatgpt-text-classification-2f70c3bd86f9

In [2]:
USE_SAME_FEW_SHOTS=True

In [3]:
temp = 0.0
num_labels = 17
# model_name="gpt-3.5-turbo-0301"
# model_name="gpt-3.5-turbo-instruct"
model_name="gpt-4-0613"

In [4]:
output_dir = "./data/output/2023.11.22-3_GPT_few-shot-learning_all-17-sdg_1020-texts_GPT4_7-shots/"

final_xlsx_filename = output_dir+f"gpt_1000_texts_{num_labels}sdg_temperature_{temp}_model_name_{model_name}.xlsx"
print(final_xlsx_filename)

classification_report_filename = output_dir+f"gpt_1000_texts_{num_labels}sdg_temperature_{temp}_model_name_{model_name}_classification_report.xlsx"
print(classification_report_filename)

final_xlsx_filename_corrected = output_dir+f"gpt_1000_texts_{num_labels}sdg_temperature_{temp}_model_name_{model_name}_corrected.xlsx"
print(final_xlsx_filename_corrected)

./data/output/2023.11.22-3_GPT_few-shot-learning_all-17-sdg_1020-texts_GPT4_7-shots/gpt_1000_texts_17sdg_temperature_0.0_model_name_gpt-4-0613.xlsx
./data/output/2023.11.22-3_GPT_few-shot-learning_all-17-sdg_1020-texts_GPT4_7-shots/gpt_1000_texts_17sdg_temperature_0.0_model_name_gpt-4-0613_classification_report.xlsx
./data/output/2023.11.22-3_GPT_few-shot-learning_all-17-sdg_1020-texts_GPT4_7-shots/gpt_1000_texts_17sdg_temperature_0.0_model_name_gpt-4-0613_corrected.xlsx

In [5]:
!pip install -q openai #--progress-bar off

In [6]:
!pip install langchain

Requirement already satisfied: langchain in /opt/conda/lib/python3.10/site-packages (0.0.316)
Requirement already satisfied: pydantic<3,>=1 in /opt/conda/lib/python3.10/site-packages (from langchain) (1.10.13)
Requirement already satisfied: SQLAlchemy<3,>=1.4 in /opt/conda/lib/python3.10/site-packages (from langchain) (1.4.46)
Requirement already satisfied: tenacity<9.0.0,>=8.1.0 in /home/jovyan/.local/lib/python3.10/site-packages (from langchain) (8.2.2)
Requirement already satisfied: dataclasses-json<0.7,>=0.5.7 in /home/jovyan/.local/lib/python3.10/site-packages (from langchain) (0.5.7)
Requirement already satisfied: jsonpatch<2.0,>=1.33 in /opt/conda/lib/python3.10/site-packages (from langchain) (1.33)
Requirement already satisfied: requests<3,>=2 in /opt/conda/lib/python3.10/site-packages (from langchain) (2.28.1)
Requirement already satisfied: anyio<4.0 in /opt/conda/lib/python3.10/site-packages (from langchain) (3.6.2)
Requirement already satisfied: numpy<2,>=1 in /opt/conda/lib/python3.10/site-packages (from langchain) (1.23.4)
Requirement already satisfied: langsmith<0.1.0,>=0.0.43 in /opt/conda/lib/python3.10/site-packages (from langchain) (0.0.67)
Requirement already satisfied: async-timeout<5.0.0,>=4.0.0 in /opt/conda/lib/python3.10/site-packages (from langchain) (4.0.2)
Requirement already satisfied: PyYAML>=5.3 in /opt/conda/lib/python3.10/site-packages (from langchain) (6.0)
Requirement already satisfied: aiohttp<4.0.0,>=3.8.3 in /home/jovyan/.local/lib/python3.10/site-packages (from langchain) (3.8.3)
Requirement already satisfied: frozenlist>=1.1.1 in /opt/conda/lib/python3.10/site-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (1.3.3)
Requirement already satisfied: yarl<2.0,>=1.0 in /opt/conda/lib/python3.10/site-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (1.8.2)
Requirement already satisfied: multidict<7.0,>=4.5 in /opt/conda/lib/python3.10/site-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (6.0.4)
Requirement already satisfied: aiosignal>=1.1.2 in /opt/conda/lib/python3.10/site-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (1.3.1)
Requirement already satisfied: attrs>=17.3.0 in /opt/conda/lib/python3.10/site-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (22.2.0)
Requirement already satisfied: charset-normalizer<3.0,>=2.0 in /opt/conda/lib/python3.10/site-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (2.1.1)
Requirement already satisfied: sniffio>=1.1 in /opt/conda/lib/python3.10/site-packages (from anyio<4.0->langchain) (1.3.0)
Requirement already satisfied: idna>=2.8 in /opt/conda/lib/python3.10/site-packages (from anyio<4.0->langchain) (3.4)
Requirement already satisfied: marshmallow-enum<2.0.0,>=1.5.1 in /home/jovyan/.local/lib/python3.10/site-packages (from dataclasses-json<0.7,>=0.5.7->langchain) (1.5.1)
Requirement already satisfied: marshmallow<4.0.0,>=3.3.0 in /home/jovyan/.local/lib/python3.10/site-packages (from dataclasses-json<0.7,>=0.5.7->langchain) (3.19.0)
Requirement already satisfied: typing-inspect>=0.4.0 in /home/jovyan/.local/lib/python3.10/site-packages (from dataclasses-json<0.7,>=0.5.7->langchain) (0.9.0)
Requirement already satisfied: jsonpointer>=1.9 in /opt/conda/lib/python3.10/site-packages (from jsonpatch<2.0,>=1.33->langchain) (2.4)
Requirement already satisfied: typing-extensions>=4.2.0 in /opt/conda/lib/python3.10/site-packages (from pydantic<3,>=1->langchain) (4.8.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/conda/lib/python3.10/site-packages (from requests<3,>=2->langchain) (1.26.14)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.10/site-packages (from requests<3,>=2->langchain) (2022.12.7)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.10/site-packages (from SQLAlchemy<3,>=1.4->langchain) (2.0.1)
Requirement already satisfied: packaging>=17.0 in /opt/conda/lib/python3.10/site-packages (from marshmallow<4.0.0,>=3.3.0->dataclasses-json<0.7,>=0.5.7->langchain) (23.0)
Requirement already satisfied: mypy-extensions>=0.3.0 in /home/jovyan/.local/lib/python3.10/site-packages (from typing-inspect>=0.4.0->dataclasses-json<0.7,>=0.5.7->langchain) (1.0.0)

In [7]:
import os
from IPython.display import clear_output
os.environ["OPENAI_API_KEY"] = input("INSERT YOU OPENAI API KEY:")
clear_output()

In [8]:
import pickle
import pandas as pd
import glob

import datetime
from langchain import PromptTemplate
from langchain import LLMChain
from langchain.chat_models import ChatOpenAI
from langchain.text_splitter import CharacterTextSplitter
from langchain.prompts import PromptTemplate

import os
import json
import ast
import re

from typing import Union
from IPython.display import display, HTML

from sklearn.metrics import classification_report

In [9]:
def perform_classification(text: str, chain: LLMChain) -> str:
    """Perform classification using LangChain model API.

    Parameters
    ----------
    text : str
        Input text.
    chain : LLMChain
        LangChain model.

    Returns
    -------
    str or None
        API Response
    """
    try:
        return chain.run(text=text)
    except Exception as e:
        print(e)
        return None
    
def convert_to_dict(row: str) -> dict:
    try:
        row = row.replace("false", "False")
        row = row.replace("true", "True")
        return ast.literal_eval(row)
    except Exception as e:
        print(e, row)
        return row

In [10]:
llm = ChatOpenAI(temperature=temp, model_name=model_name, max_tokens=500)

# Caricamento dati e preparazione prompt

In [11]:
# IN QUESTO ESPERIMENTO CONSIDERO LO STESSO DATASET UTILIZZATO IN 
# GPT_zero-shot_learning/2023.10.17-1_GPT_zero-shot-learning_all-17-sdg.ipynb
# IN MODO CHE I DATI SIANO GLI STESSI 

data = pd.read_excel("../data/input/sdg_17_labels_classification_dataset_1020_texts_TEST.xlsx").drop(columns=['Unnamed: 0'])
# data.index = data.text_id
# data.text_id = data.index
# data = data.drop(columns=['Unnamed: 0', 'goal_label', 'motivation_for_the_answer', 'goal_label_int', 'sdg_probability'])
data

,text_id,doi,text,sdg,labels_negative,labels_positive,agreement
0,6668,NaN,L train resumes service after derailing from t...,0,NaN,NaN,NaN
1,6099,NaN,Brooklyn Decker’s SI Swimsuit Cover Photo Shoo...,0,NaN,NaN,NaN
2,6471,NaN,Mumbai: The Bombay High Court has suspended th...,0,NaN,NaN,NaN
3,1786,NaN,Four minor planets named after Indian scientis...,0,NaN,NaN,NaN
4,2143,NaN,By Dipo Olowookere\n\nThe President of the Man...,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...
1015,4695,10.1080/0961452032000170794,Human rights NGOs were the vanguard of the str...,16,0.0,6.0,1.0
1016,6628,10.1057/9781137023735_15,An important transformation took place in inte...,16,0.0,6.0,1.0
1017,4563,10.33751/JHSS.V4I1.1904,Accountability of government officials' action...,16,0.0,6.0,1.0
1018,6710,10.2139/SSRN.460480,"In Phillips Petroleum Co. v. Shutts, the Unite...",16,0.0,5.0,1.0
1019,1947,10.1177/0032329211415504,"For the past half a century, Latin American sc...",16,0.0,6.0,1.0

In [12]:
data.shape

(1020, 7)

In [13]:
data.groupby('sdg').count()['text']

sdg
0     60
1     60
2     60
3     60
4     60
5     60
6     60
7     60
8     60
9     60
10    60
11    60
12    60
13    60
14    60
15    60
16    60
Name: text, dtype: int64

### Estraggo i dati per i few-shot

In [14]:
# TESTI ESTRATTI NEL FEW SHOT 2023.11.21-1_GPT_few-shot-learning_all-17-sdg_1020-texts_GPT3.5_3-shots

print("""
      text_id                   doi  \
3936     5614  10.2139/SSRN.1406042   
1456     2089  10.18356/ee52a573-en   
3974     5665  10.18356/3fe10a08-en   

                                                   text  sdg  labels_negative  \
3936  The modern definitions of the inchoate offence...   16              0.0   
1456  This refers to the manufacture, use and dispos...   12              3.0   
3974  As a result, both the trade and current accoun...    8              0.0   

      labels_positive  agreement  
3936              6.0     1.0000  
1456             29.0     0.8125  
3974              5.0     1.0000
""")

      text_id                   doi  3936     5614  10.2139/SSRN.1406042
1456     2089  10.18356/ee52a573-en
3974     5665  10.18356/3fe10a08-en

                                                   text  sdg  labels_negative  3936  The modern definitions of the inchoate offence...   16              0.0
1456  This refers to the manufacture, use and dispos...   12              3.0
3974  As a result, both the trade and current accoun...    8              0.0

      labels_positive  agreement
3936              6.0     1.0000
1456             29.0     0.8125
3974              5.0     1.0000

In [15]:
if USE_SAME_FEW_SHOTS==True:
    data_sel_4_few_shot_examples = pd.read_excel("../data/input/sdg_17_labels_classification_dataset_4760_texts_TRAIN.xlsx").drop(columns=['Unnamed: 0'])
    data_sel_4_few_shot_examples = data_sel_4_few_shot_examples[
        (data_sel_4_few_shot_examples.text_id==5614) |
        (data_sel_4_few_shot_examples.text_id==2089) |
        (data_sel_4_few_shot_examples.text_id==5665) |
        (data_sel_4_few_shot_examples.text_id==370)  |
        (data_sel_4_few_shot_examples.text_id==1422) |
        (data_sel_4_few_shot_examples.text_id==4329) |
        (data_sel_4_few_shot_examples.text_id==4929)
    ]
else:
    data_sel_4_few_shot_examples = pd.read_excel("../data/input/sdg_17_labels_classification_dataset_4760_texts_TRAIN.xlsx").drop(columns=['Unnamed: 0']).sample(5)

data_sel_4_few_shot_examples

,text_id,doi,text,sdg,labels_negative,labels_positive,agreement
250,370,10.1787/9789264272392-3-en,"For example, the poorest 20% of farm household...",2,0.0,9.0,1.000000
986,1422,10.1787/9789264283299-en,"Nevertheless, the average number of physician ...",3,1.0,8.0,0.777778
1456,2089,10.18356/ee52a573-en,"This refers to the manufacture, use and dispos...",12,3.0,29.0,0.812500
3026,4329,10.18356/30e5b8d3-en,With the introduction of FSC standards in the ...,15,0.0,9.0,1.000000
3444,4929,10.18356/5e8977eb-en,"Hence, climate-economy models without explicit...",13,0.0,3.0,1.000000
3936,5614,10.2139/SSRN.1406042,The modern definitions of the inchoate offence...,16,0.0,6.0,1.000000
3974,5665,10.18356/3fe10a08-en,"As a result, both the trade and current accoun...",8,0.0,5.0,1.000000

In [16]:
few_shots = ""

for _, row in data_sel_4_few_shot_examples[['text', 'sdg']].iterrows():
    input_text = "Input text: \""+row['text']+"\"\n"
    output_text = "Output: \"SDG "+str(row['sdg'])+'\"\n\n'
    
    few_shots += input_text
    few_shots += output_text
    
print(few_shots)

Input text: "For example, the poorest 20% of farm households in the Philippines tend to be small-scale producers and landless workers whose rice production does not satisfy their own needs and who therefore purchase 77% of the rice that they consume on average (Chapter 4). Regional levels of stunting among children under five years of age, for example, remain worryingly high (Figure 3). While economic growth has enabled significant declines in populations suffering from chronic poverty, for some households, it may have only altered the nature of food insecurity from permanent to transitory, rather than eliminate it entirely."
Output: "SDG 2"

Input text: "Nevertheless, the average number of physician contacts per person is not greater than the EU average. For example, home visits to patients by GPs are a regular practice and patients do not usually have to wait long to get access to GPs, although waiting times for more specialised services (e.g. mental health specialists, ophthalmologists, dermatologists) can be longer. Nurses also play a key role in providing home care services to people with chronic diseases or disability."
Output: "SDG 3"

Input text: "This refers to the manufacture, use and disposal of lifestyle goods such as electronics and clothing. Key sectors of high impact include food, housing and transport. In these sectors, wafer, energy and waste can be considered as crosscutting sectors affecting and affected by almost every lifestyle domain."
Output: "SDG 12"

Input text: "With the introduction of FSC standards in the country, the concept of high conservation value forest (HCVF) has been introduced. Based on FSC certification reports of four certified forest companies, there are 75,530 ha (i.e. around 2.5 per cent of total forest cover) of HCVF forest in Bosnia and Herzegovina (FAO, 2015). According to the annual report of the Ministry of Agriculture, Water Management and Forestry, productive forestlands that are suitable for afforestation amount to about 166,192.5 ha - the area under the forest can be increased because a large proportion of these areas has poor production potential but could be afforested by using appropriate tree species in accordance with natural and ecological conditions."
Output: "SDG 15"

Input text: "Hence, climate-economy models without explicit representation of impacts (e.g. most general equilibrium and cost minimization models reviewed in Stanton, Ackerman and Kartha, 2009) and models that only assess the probability of triggering a specific tipping element (e.g. dimrise - Zickfeld and Bruckner, 2003) are not included. The same applies to the coupling of exogenous climate scenarios with sector-specific impact models, e.g. GIM (Mendelsohn, Schlesinger and Williams, 2000), DIVA (Hinkel and Klein, 2009) and the UK “fast-track” studies (Ar-nell et al., The model must include quantitative data aimed at resembling the real world."
Output: "SDG 13"

Input text: "The modern definitions of the inchoate offences are well known in the criminal law since the Middle Ages both in European-Continent legal systems and in the English Common Law. They were mostly developed by the case-laws of the Star Chamber Court, which was abolished in 1640. The inchoate offences include three basic offences: Attempt, Conspiracy and Solicitation, but different legal systems defined some other offences as inchoate, such as the Aider and Abettor in Britain after the full validation of the Serious Crimes Act, 2007, c.27, s.44. In this paper it is argued, that there is a very intensive interaction between the fight against terrorism and inchoate offences. The fight against terrorism effects the definition of inchoate offences, and inchoate offences are used as a major instrument of criminal law in the legal fight against terrorism."
Output: "SDG 16"

Input text: "As a result, both the trade and current account deficits increased in 2012. Large current account deficits, despite the slowdown in economic growth, are symptomatic of demand-supply imbalances and a pointer to the urgent need to resolve supply bottlenecks. However, capital flows have been adequate to cover the current account deficit thus far."
Output: "SDG 8"

In [17]:
# https://www.un.org/en/exhibits/page/sdgs-17-goals-transform-world#:~:text=GOAL%201%3A%20No%20Poverty%20GOAL,10%3A%20Reduced%20Inequalities%20GOAL%2011

template = """
Classify the following text between triple quotes according to the Sustainable Development Goals (SDGs) adopted by all United Nations Member States in 2015, choosing one (and only one) of the SDG labels based on it best representing the content of the entire text enclosed in triple quotes.

In the following lines, a text enclosed in triple quotes will be given to you.

The task is to classify the text according to the Sustainable Development Goals (SDGs) adopted by all United Nations Member States in 2015.

The constraint to adhere to is that for the classification, you must select only one out of all the possible SDGs.

If you believe that the text to be processed cannot be classified under any of the possible SDGs, then classify it as "SDG 0".

The following are 7 examples of expected classification given an input text:

"""+few_shots+"""


The text to be processed is:

```
{text}
```
"""

In [18]:
prompt = PromptTemplate(
    input_variables=["text"],
    template=template,
)

In [19]:
chain = LLMChain(llm=llm, prompt=prompt)

In [20]:
# data_sel = data_sel_4_few_shot_examples
data_sel = data
# data_sel = data[data.sdg==0].sample(10)
# data_sel = data.sample(3)
# data_sel = data.iloc[356:]

data_sel

,text_id,doi,text,sdg,labels_negative,labels_positive,agreement
0,6668,NaN,L train resumes service after derailing from t...,0,NaN,NaN,NaN
1,6099,NaN,Brooklyn Decker’s SI Swimsuit Cover Photo Shoo...,0,NaN,NaN,NaN
2,6471,NaN,Mumbai: The Bombay High Court has suspended th...,0,NaN,NaN,NaN
3,1786,NaN,Four minor planets named after Indian scientis...,0,NaN,NaN,NaN
4,2143,NaN,By Dipo Olowookere\n\nThe President of the Man...,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...
1015,4695,10.1080/0961452032000170794,Human rights NGOs were the vanguard of the str...,16,0.0,6.0,1.0
1016,6628,10.1057/9781137023735_15,An important transformation took place in inte...,16,0.0,6.0,1.0
1017,4563,10.33751/JHSS.V4I1.1904,Accountability of government officials' action...,16,0.0,6.0,1.0
1018,6710,10.2139/SSRN.460480,"In Phillips Petroleum Co. v. Shutts, the Unite...",16,0.0,5.0,1.0
1019,1947,10.1177/0032329211415504,"For the past half a century, Latin American sc...",16,0.0,6.0,1.0

In [21]:
# data_sel.iloc[:11]

In [22]:
# text_DEBUG = data_sel.iloc[10].text
# text_DEBUG

In [23]:
# perform_classification(text_DEBUG, chain)

In [24]:
# # results = data_sel.apply(lambda x: perform_classication(x["text"], chain), axis=1)
# import time

# cnt = 0
# # cnt = 355
# results = []
# retry = True

# for index, row in data_sel.iterrows():
#     time_sleep=10 # resetto il tempo se non ho avuto problemi con il TPM limit
#     while retry==True:
#         try:
#             time.sleep(time_sleep)
#             time_sleep+=10 # aumento il tempo a ogni tentativo se ho superato il TPM limit
#             result = perform_classification(row["text"], chain)
#             results.append((row["text_id"], result))
#             cnt+=1
#             print(cnt, (row["text_id"], result), time_sleep)
#             retry=False
#         except:
#             retry=True
#             print(cnt, (row["text_id"], result), time_sleep)

In [25]:
output_data_path = output_dir

In [58]:
data_sel = data.iloc[973:]

In [27]:
# results = data_sel.apply(lambda x: perform_classication(x["text"], chain), axis=1)
import time

# cnt = 0
cnt = 973
results = []
for index, row in data_sel.iterrows():
    
    try:
        result = perform_classification(row["text"], chain)
    except Exception as e:
        result = str(e)
    
    result_extended = (cnt, row["text_id"], row["sdg"], result)
    with open(output_data_path+f'/sdg_classification_GPT4_{cnt}.pkl', 'wb') as f:
        pickle.dump(result_extended, f)
    
    results.append(result_extended)
    cnt+=1
    print(result_extended)
    time.sleep(12)

(973, 3540, 16, '"SDG 16"')
(974, 283, 16, '"SDG 16"')
(975, 4891, 16, '"SDG 8"')
(976, 3236, 16, '"SDG 16"')
(977, 6715, 16, '"SDG 3"')
(978, 2543, 16, '"SDG 16"')
(979, 64, 16, '"SDG 16"')
(980, 3614, 16, '"SDG 16"')
(981, 4520, 16, '"SDG 3"')
(982, 569, 16, 'SDG 0')
(983, 543, 16, '"SDG 16"')
(984, 4331, 16, '"SDG 16"')
(985, 5742, 16, '"SDG 16"')
(986, 1384, 16, '"SDG 16"')
(987, 2092, 16, '"SDG 5"')
(988, 2472, 16, '"SDG 16"')
(989, 3167, 16, '"SDG 16"')
(990, 5026, 16, '"SDG 16"')
(991, 2834, 16, '"SDG 16"')
(992, 2469, 16, '"SDG 16"')
(993, 1609, 16, '"SDG 16"')
(994, 5916, 16, '"SDG 16"')
(995, 567, 16, '"SDG 16"')
(996, 4214, 16, '"SDG 16"')
(997, 322, 16, '"SDG 8"')
(998, 6351, 16, '"SDG 16"')
(999, 4375, 16, '"SDG 9"')
(1000, 2522, 16, '"SDG 5"')
(1001, 2889, 16, '"SDG 16"')
(1002, 3927, 16, '"SDG 16"')
(1003, 1248, 16, '"SDG 16"')
(1004, 57, 16, '"SDG 16"')
(1005, 339, 16, '"SDG 16"')
(1006, 4967, 16, '"SDG 9"')
(1007, 1794, 16, '"SDG 5"')
(1008, 1864, 16, '"SDG 16"')
(1009, 973, 16, '"SDG 16"')
(1010, 535, 16, '"SDG 8"')
(1011, 2370, 16, '"SDG 11"')
(1012, 2870, 16, '"SDG 16"')
(1013, 6330, 16, '"SDG 16"')
(1014, 2723, 16, '"SDG 16"')
(1015, 4695, 16, '"SDG 16"')
(1016, 6628, 16, '"SDG 16"')
(1017, 4563, 16, '"SDG 16"')
(1018, 6710, 16, '"SDG 16"')
(1019, 1947, 16, '"SDG 16"')

In [28]:
results

[(973, 3540, 16, '"SDG 16"'),
 (974, 283, 16, '"SDG 16"'),
 (975, 4891, 16, '"SDG 8"'),
 (976, 3236, 16, '"SDG 16"'),
 (977, 6715, 16, '"SDG 3"'),
 (978, 2543, 16, '"SDG 16"'),
 (979, 64, 16, '"SDG 16"'),
 (980, 3614, 16, '"SDG 16"'),
 (981, 4520, 16, '"SDG 3"'),
 (982, 569, 16, 'SDG 0'),
 (983, 543, 16, '"SDG 16"'),
 (984, 4331, 16, '"SDG 16"'),
 (985, 5742, 16, '"SDG 16"'),
 (986, 1384, 16, '"SDG 16"'),
 (987, 2092, 16, '"SDG 5"'),
 (988, 2472, 16, '"SDG 16"'),
 (989, 3167, 16, '"SDG 16"'),
 (990, 5026, 16, '"SDG 16"'),
 (991, 2834, 16, '"SDG 16"'),
 (992, 2469, 16, '"SDG 16"'),
 (993, 1609, 16, '"SDG 16"'),
 (994, 5916, 16, '"SDG 16"'),
 (995, 567, 16, '"SDG 16"'),
 (996, 4214, 16, '"SDG 16"'),
 (997, 322, 16, '"SDG 8"'),
 (998, 6351, 16, '"SDG 16"'),
 (999, 4375, 16, '"SDG 9"'),
 (1000, 2522, 16, '"SDG 5"'),
 (1001, 2889, 16, '"SDG 16"'),
 (1002, 3927, 16, '"SDG 16"'),
 (1003, 1248, 16, '"SDG 16"'),
 (1004, 57, 16, '"SDG 16"'),
 (1005, 339, 16, '"SDG 16"'),
 (1006, 4967, 16, '"SDG 9"'),
 (1007, 1794, 16, '"SDG 5"'),
 (1008, 1864, 16, '"SDG 16"'),
 (1009, 973, 16, '"SDG 16"'),
 (1010, 535, 16, '"SDG 8"'),
 (1011, 2370, 16, '"SDG 11"'),
 (1012, 2870, 16, '"SDG 16"'),
 (1013, 6330, 16, '"SDG 16"'),
 (1014, 2723, 16, '"SDG 16"'),
 (1015, 4695, 16, '"SDG 16"'),
 (1016, 6628, 16, '"SDG 16"'),
 (1017, 4563, 16, '"SDG 16"'),
 (1018, 6710, 16, '"SDG 16"'),
 (1019, 1947, 16, '"SDG 16"')]

In [29]:
# len(results)

In [30]:
# len(results_part1)

In [31]:
# results_tot = results_part1 + results

In [32]:
# len(results_tot)

In [33]:
# results = results_tot

In [34]:
# results_part1 = results.copy()

In [35]:
# results_part1

In [52]:
output_data_path = output_dir

files = glob.glob(output_data_path + "/*.pkl")

In [53]:
results_complete = []
for file in files:
    res = pd.read_pickle(file)

    # try:
    #     if len(res[3]['choices'])>1:
    #         raise Exception('ERROR: Multilabel detected!')
    #         break
    #     sdg_pred = res[3]['choices'][0]['message']['content']
    #     res4df = (res[0], res[1], res[2], sdg_pred)
    #     print(res4df)
    #     tuple_list.append(res4df)
    # except:
    #     print("#################################################################")
    #     print(res)
    #     print("#################################################################")

    # print(res)
    results_complete.append(res)
    # break

In [54]:
results  =results_complete

In [55]:
len(results)

1020

In [56]:
results_processed = pd.DataFrame(results, columns=['cnt', 'text_id', 'sdg','result'])
results_processed['label_pred'] = results_processed['result'].str.extract(r'SDG (\d+)')
results_processed

      cnt  text_id  sdg    result label_pred
0     852     5523   14  "SDG 14"         14
1     355     4613    5   "SDG 5"          5
2     466     5293    7   "SDG 7"          7
3     210      562    3   "SDG 3"          3
4     577     2791    9   "SDG 9"          9
...   ...      ...  ...       ...        ...
1015   61      357    1   "SDG 1"          1
1016  836     2077   13  "SDG 13"         13
1017  333     2109    5   "SDG 5"          5
1018  775     1049   12  "SDG 12"         12
1019  924     5980   15  "SDG 15"         15

[1020 rows x 5 columns]

In [41]:
# results_processed.to_excel("gpt3_few_3_shot_tmp.xlsx")

In [42]:
# results_processed = results.apply(convert_to_dict).apply(pd.Series).loc[:, ["motivation_for_the_answer", "detected_goals", "selected_goal"]]
# results_processed

In [43]:
# results_processed2 = results.apply(convert_to_dict).apply(pd.Series).loc[:, ["goal_label", "motivation_for_the_answer", "sdg_probability"]]
# results_processed2

In [44]:
# results_processed = pd.DataFrame(results, columns=['text_id', 'result'])
# results_processed['label_pred'] = results_processed['result'].str.extract(r'SDG (\d+)')
# results_processed

In [59]:
# final = data_sel.merge(results_processed, left_index=True, right_index=True)
final = data_sel.merge(results_processed.drop(columns=['sdg']), left_on='text_id', right_on='text_id')
# final = data_sel.merge(results_processed2, left_index=True, right_index=True)
# final = final.drop(columns='Unnamed: 0')
final

,text_id,doi,text,sdg,labels_negative,labels_positive,agreement,cnt,result,label_pred
0,6668,NaN,L train resumes service after derailing from t...,0,NaN,NaN,NaN,0,SDG 9,9
1,6099,NaN,Brooklyn Decker’s SI Swimsuit Cover Photo Shoo...,0,NaN,NaN,NaN,1,SDG 0,0
2,6471,NaN,Mumbai: The Bombay High Court has suspended th...,0,NaN,NaN,NaN,2,"Output: ""SDG 16""",16
3,1786,NaN,Four minor planets named after Indian scientis...,0,NaN,NaN,NaN,3,"""SDG 9""",9
4,2143,NaN,By Dipo Olowookere\n\nThe President of the Man...,0,NaN,NaN,NaN,4,"""SDG 9""",9
...,...,...,...,...,...,...,...,...,...,...
1015,4695,10.1080/0961452032000170794,Human rights NGOs were the vanguard of the str...,16,0.0,6.0,1.0,1015,"""SDG 16""",16
1016,6628,10.1057/9781137023735_15,An important transformation took place in inte...,16,0.0,6.0,1.0,1016,"""SDG 16""",16
1017,4563,10.33751/JHSS.V4I1.1904,Accountability of government officials' action...,16,0.0,6.0,1.0,1017,"""SDG 16""",16
1018,6710,10.2139/SSRN.460480,"In Phillips Petroleum Co. v. Shutts, the Unite...",16,0.0,5.0,1.0,1018,"""SDG 16""",16
1019,1947,10.1177/0032329211415504,"For the past half a century, Latin American sc...",16,0.0,6.0,1.0,1019,"""SDG 16""",16

In [60]:
final_xlsx_filename

'./data/output/2023.11.22-3_GPT_few-shot-learning_all-17-sdg_1020-texts_GPT4_7-shots/gpt_1000_texts_17sdg_temperature_0.0_model_name_gpt-4-0613.xlsx'

In [61]:
final.to_excel(final_xlsx_filename)

In [62]:
final_corrected = final[~final.label_pred.isna()]

In [63]:
import numpy as np
y_true = final_corrected.sdg 
y_pred = final_corrected.label_pred
y_true = np.array([int(label) for label in y_true])
y_pred = np.array([int(label) for label in y_pred])
print(y_true.shape[0])
print(y_pred.shape[0])
#target_names = ['sdg 0', 'sdg 1', 'sdg 2',  'sdg 3']

print(classification_report(y_true, y_pred)) #, target_names=target_names))

1020
1020
              precision    recall  f1-score   support

           0       0.96      0.37      0.53        60
           1       0.72      0.77      0.74        60
           2       1.00      0.78      0.88        60
           3       0.73      0.98      0.84        60
           4       0.84      0.95      0.89        60
           5       0.93      0.87      0.90        60
           6       0.98      0.90      0.94        60
           7       0.96      0.87      0.91        60
           8       0.51      0.75      0.61        60
           9       0.67      0.80      0.73        60
          10       0.80      0.55      0.65        60
          11       0.88      0.88      0.88        60
          12       0.87      0.87      0.87        60
          13       0.78      0.90      0.84        60
          14       0.95      0.97      0.96        60
          15       0.85      0.92      0.88        60
          16       0.90      0.77      0.83        60
          17       0.00      0.00      0.00         0

    accuracy                           0.82      1020
   macro avg       0.80      0.77      0.77      1020
weighted avg       0.84      0.82      0.82      1020

/opt/conda/lib/python3.10/site-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/opt/conda/lib/python3.10/site-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/opt/conda/lib/python3.10/site-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [64]:
classification_report_filename

'./data/output/2023.11.22-3_GPT_few-shot-learning_all-17-sdg_1020-texts_GPT4_7-shots/gpt_1000_texts_17sdg_temperature_0.0_model_name_gpt-4-0613_classification_report.xlsx'

In [65]:
report=classification_report(y_true, y_pred, output_dict=True)
report_df = pd.DataFrame(report).transpose()
report_df.to_excel(classification_report_filename)

/opt/conda/lib/python3.10/site-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/opt/conda/lib/python3.10/site-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/opt/conda/lib/python3.10/site-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))