In [1]:
# https://medium.com/@iryna230520/dynamic-few-shot-prompting-overcoming-context-limit-for-chatgpt-text-classification-2f70c3bd86f9

In [2]:
# USE_SAME_FEW_SHOTS=True

In [1]:
number_of_shots = 3

In [2]:
temp = 0.0
num_labels = 17
model_name="gpt-3.5-turbo-0301"
# model_name="gpt-3.5-turbo-instruct"
# model_name="gpt-4-0613"

In [3]:
output_dir = "./data/output/2023.11.28-1_GPT_few-shot-learning_all-17-sdg_1020-texts_GPT3.5_3-shots_SEMANTIC-SIMILARITY/"

final_xlsx_filename = output_dir+f"gpt_1000_texts_{num_labels}sdg_temperature_{temp}_model_name_{model_name}.xlsx"
print(final_xlsx_filename)

classification_report_filename = output_dir+f"gpt_1000_texts_{num_labels}sdg_temperature_{temp}_model_name_{model_name}_classification_report.xlsx"
print(classification_report_filename)

final_xlsx_filename_corrected = output_dir+f"gpt_1000_texts_{num_labels}sdg_temperature_{temp}_model_name_{model_name}_corrected.xlsx"
print(final_xlsx_filename_corrected)

./data/output/2023.11.28-1_GPT_few-shot-learning_all-17-sdg_1020-texts_GPT3.5_3-shots_SEMANTIC-SIMILARITY/gpt_1000_texts_17sdg_temperature_0.0_model_name_gpt-3.5-turbo-0301.xlsx
./data/output/2023.11.28-1_GPT_few-shot-learning_all-17-sdg_1020-texts_GPT3.5_3-shots_SEMANTIC-SIMILARITY/gpt_1000_texts_17sdg_temperature_0.0_model_name_gpt-3.5-turbo-0301_classification_report.xlsx
./data/output/2023.11.28-1_GPT_few-shot-learning_all-17-sdg_1020-texts_GPT3.5_3-shots_SEMANTIC-SIMILARITY/gpt_1000_texts_17sdg_temperature_0.0_model_name_gpt-3.5-turbo-0301_corrected.xlsx

In [6]:
!pip install -q openai --progress-bar off

In [7]:
!pip install -q langchain --progress-bar off

In [8]:
import os
from IPython.display import clear_output
os.environ["OPENAI_API_KEY"] = input("INSERT YOU OPENAI API KEY:")
clear_output()

In [9]:
import pickle
import pandas as pd
import glob

import datetime
from langchain import PromptTemplate
from langchain import LLMChain
from langchain.chat_models import ChatOpenAI
from langchain.text_splitter import CharacterTextSplitter
from langchain.prompts import PromptTemplate

import os
import json
import ast
import re

from typing import Union
from IPython.display import display, HTML

from sklearn.metrics import classification_report

In [10]:
def perform_classification(text: str, chain: LLMChain) -> str:
    """Perform classification using LangChain model API.

    Parameters
    ----------
    text : str
        Input text.
    chain : LLMChain
        LangChain model.

    Returns
    -------
    str or None
        API Response
    """
    try:
        return chain.run(text=text)
    except Exception as e:
        print(e)
        return None
    
def convert_to_dict(row: str) -> dict:
    try:
        row = row.replace("false", "False")
        row = row.replace("true", "True")
        return ast.literal_eval(row)
    except Exception as e:
        print(e, row)
        return row

In [11]:
llm = ChatOpenAI(temperature=temp, model_name=model_name, max_tokens=500)

# Caricamento dati e preparazione prompt

In [10]:
# IN QUESTO ESPERIMENTO CONSIDERO LO STESSO DATASET UTILIZZATO IN 
# GPT_zero-shot_learning/2023.10.17-1_GPT_zero-shot-learning_all-17-sdg.ipynb
# IN MODO CHE I DATI SIANO GLI STESSI 

data = pd.read_excel("../data/input/sdg_17_labels_classification_dataset_1020_texts_TEST.xlsx").drop(columns=['Unnamed: 0'])
# data.index = data.text_id
# data.text_id = data.index
# data = data.drop(columns=['Unnamed: 0', 'goal_label', 'motivation_for_the_answer', 'goal_label_int', 'sdg_probability'])
data

,text_id,doi,text,sdg,labels_negative,labels_positive,agreement
0,6668,NaN,L train resumes service after derailing from t...,0,NaN,NaN,NaN
1,6099,NaN,Brooklyn Deckerâ€™s SI Swimsuit Cover Photo Shoo...,0,NaN,NaN,NaN
2,6471,NaN,Mumbai: The Bombay High Court has suspended th...,0,NaN,NaN,NaN
3,1786,NaN,Four minor planets named after Indian scientis...,0,NaN,NaN,NaN
4,2143,NaN,By Dipo Olowookere\n\nThe President of the Man...,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...
1015,4695,10.1080/0961452032000170794,Human rights NGOs were the vanguard of the str...,16,0.0,6.0,1.0
1016,6628,10.1057/9781137023735_15,An important transformation took place in inte...,16,0.0,6.0,1.0
1017,4563,10.33751/JHSS.V4I1.1904,Accountability of government officials' action...,16,0.0,6.0,1.0
1018,6710,10.2139/SSRN.460480,"In Phillips Petroleum Co. v. Shutts, the Unite...",16,0.0,5.0,1.0
1019,1947,10.1177/0032329211415504,"For the past half a century, Latin American sc...",16,0.0,6.0,1.0

In [13]:
data.shape

(1020, 7)

In [14]:
data.groupby('sdg').count()['text']

sdg
0     60
1     60
2     60
3     60
4     60
5     60
6     60
7     60
8     60
9     60
10    60
11    60
12    60
13    60
14    60
15    60
16    60
Name: text, dtype: int64

In [15]:
top7_train_data_sim_to_each_test_data_filename = "../data/input/top7_train_data_sim_to_each_test_data.pickle"

with open(top7_train_data_sim_to_each_test_data_filename, 'rb') as f:
    top7_train_data_sim_to_each_test_data = pickle.load(f)

In [16]:
data_sel_4_few_shot_examples = pd.read_excel("../data/input/sdg_17_labels_classification_dataset_4760_texts_TRAIN.xlsx")

### Estraggo i dati per i few-shot

In [17]:
# # TESTI ESTRATTI NEL FEW SHOT 2023.11.21-1_GPT_few-shot-learning_all-17-sdg_1020-texts_GPT3.5_3-shots

# print("""
#       text_id                   doi  \
# 3936     5614  10.2139/SSRN.1406042   
# 1456     2089  10.18356/ee52a573-en   
# 3974     5665  10.18356/3fe10a08-en   

#                                                    text  sdg  labels_negative  \
# 3936  The modern definitions of the inchoate offence...   16              0.0   
# 1456  This refers to the manufacture, use and dispos...   12              3.0   
# 3974  As a result, both the trade and current accoun...    8              0.0   

#       labels_positive  agreement  
# 3936              6.0     1.0000  
# 1456             29.0     0.8125  
# 3974              5.0     1.0000
# """)

In [18]:
# if USE_SAME_FEW_SHOTS==True:
#     data_sel_4_few_shot_examples = pd.read_excel("../data/input/sdg_17_labels_classification_dataset_4760_texts_TRAIN.xlsx").drop(columns=['Unnamed: 0'])
#     data_sel_4_few_shot_examples = data_sel_4_few_shot_examples[
#         (data_sel_4_few_shot_examples.text_id==5614) |
#         (data_sel_4_few_shot_examples.text_id==2089) |
#         (data_sel_4_few_shot_examples.text_id==5665) |
#         (data_sel_4_few_shot_examples.text_id==370)  |
#         (data_sel_4_few_shot_examples.text_id==1422) |
#         (data_sel_4_few_shot_examples.text_id==4329) |
#         (data_sel_4_few_shot_examples.text_id==4929)
#     ]
# else:
#     data_sel_4_few_shot_examples = pd.read_excel("../data/input/sdg_17_labels_classification_dataset_4760_texts_TRAIN.xlsx").drop(columns=['Unnamed: 0']).sample(5)

# data_sel_4_few_shot_examples

In [19]:
# few_shots = ""

# for _, row in data_sel_4_few_shot_examples[['text', 'sdg']].iterrows():
#     input_text = "Input text: \""+row['text']+"\"\n"
#     output_text = "Output: \"SDG "+str(row['sdg'])+'\"\n\n'
    
#     few_shots += input_text
#     few_shots += output_text
    
# print(few_shots)

In [20]:
# https://www.un.org/en/exhibits/page/sdgs-17-goals-transform-world#:~:text=GOAL%201%3A%20No%20Poverty%20GOAL,10%3A%20Reduced%20Inequalities%20GOAL%2011

# template = """
# Classify the following text between triple quotes according to the Sustainable Development Goals (SDGs) adopted by all United Nations Member States in 2015, choosing one (and only one) of the SDG labels based on it best representing the content of the entire text enclosed in triple quotes.

# In the following lines, a text enclosed in triple quotes will be given to you.

# The task is to classify the text according to the Sustainable Development Goals (SDGs) adopted by all United Nations Member States in 2015.

# The constraint to adhere to is that for the classification, you must select only one out of all the possible SDGs.

# If you believe that the text to be processed cannot be classified under any of the possible SDGs, then classify it as "SDG 0".

# The following are """+number_of_shots+""" examples of expected classification given an input text:

# """+few_shots+"""


# The text to be processed is:

# ```
# {text}
# ```
# """

In [21]:
# prompt = PromptTemplate(
#     input_variables=["text"],
#     template=template,
# )

In [22]:
# chain = LLMChain(llm=llm, prompt=prompt)

In [11]:
# data_sel = data_sel_4_few_shot_examples
data_sel = data
# data_sel = data[data.sdg==0].sample(10)
# data_sel = data.sample(3)
# data_sel = data.iloc[356:]

data_sel

,text_id,doi,text,sdg,labels_negative,labels_positive,agreement
0,6668,NaN,L train resumes service after derailing from t...,0,NaN,NaN,NaN
1,6099,NaN,Brooklyn Deckerâ€™s SI Swimsuit Cover Photo Shoo...,0,NaN,NaN,NaN
2,6471,NaN,Mumbai: The Bombay High Court has suspended th...,0,NaN,NaN,NaN
3,1786,NaN,Four minor planets named after Indian scientis...,0,NaN,NaN,NaN
4,2143,NaN,By Dipo Olowookere\n\nThe President of the Man...,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...
1015,4695,10.1080/0961452032000170794,Human rights NGOs were the vanguard of the str...,16,0.0,6.0,1.0
1016,6628,10.1057/9781137023735_15,An important transformation took place in inte...,16,0.0,6.0,1.0
1017,4563,10.33751/JHSS.V4I1.1904,Accountability of government officials' action...,16,0.0,6.0,1.0
1018,6710,10.2139/SSRN.460480,"In Phillips Petroleum Co. v. Shutts, the Unite...",16,0.0,5.0,1.0
1019,1947,10.1177/0032329211415504,"For the past half a century, Latin American sc...",16,0.0,6.0,1.0

In [24]:
# data_sel.iloc[:11]

In [25]:
# text_DEBUG = data_sel.iloc[10].text
# text_DEBUG

In [26]:
# perform_classification(text_DEBUG, chain)

In [27]:
# # results = data_sel.apply(lambda x: perform_classication(x["text"], chain), axis=1)
# import time

# cnt = 0
# # cnt = 355
# results = []
# retry = True

# for index, row in data_sel.iterrows():
#     time_sleep=10 # resetto il tempo se non ho avuto problemi con il TPM limit
#     while retry==True:
#         try:
#             time.sleep(time_sleep)
#             time_sleep+=10 # aumento il tempo a ogni tentativo se ho superato il TPM limit
#             result = perform_classification(row["text"], chain)
#             results.append((row["text_id"], result))
#             cnt+=1
#             print(cnt, (row["text_id"], result), time_sleep)
#             retry=False
#         except:
#             retry=True
#             print(cnt, (row["text_id"], result), time_sleep)

In [28]:
output_data_path = output_dir

In [34]:
data_sel = data.iloc[650:]

In [35]:
# results = data_sel.apply(lambda x: perform_classication(x["text"], chain), axis=1)
import time

# cnt = 0
cnt = 650
results = []
for index, row in data_sel.iterrows():

    #print("\n\n##################################################")

    #print("EXPECTED_SDG:", row["sdg"], "TEXT:", row["text"].replace('\n',''),'\n\n')

    few_shots_list = top7_train_data_sim_to_each_test_data[row['text_id']][:number_of_shots]

    few_shots = ""

    for train_data_id in few_shots_list:

        # print("##################################################")
        # print(train_data_id)

        train_row = data_sel_4_few_shot_examples[data_sel_4_few_shot_examples.text_id==train_data_id]

        # print(train_row)

        # print(train_row.text.values[0])
        # print(train_row.sdg.values[0])

        input_text = "Input text: \""+train_row.text.values[0].replace('\n','')+"\"\n"
        output_text = "Output: \"---SDG "+str(train_row.sdg.values[0])+'---\"\n\n'

        few_shots += input_text
        few_shots += output_text

    #print(few_shots)
    
    template = """
Classify the following text between triple quotes according to the Sustainable Development Goals (SDGs) adopted by all United Nations Member States in 2015, choosing one (and only one) of the SDG labels based on it best representing the content of the entire text enclosed in triple quotes.

In the following lines, a text enclosed in triple quotes will be given to you.

The task is to classify the text according to the Sustainable Development Goals (SDGs) adopted by all United Nations Member States in 2015.

The constraint to adhere to is that for the classification, you must select only one out of all the possible SDGs.

If you believe that the text to be processed cannot be classified under any of the possible SDGs, then classify it as "SDG 0".

The following are """+str(number_of_shots)+""" examples of expected classification given an input text:

"""+few_shots+"""


The text to be processed is:

```
{text}
```
"""
    try:
        prompt = PromptTemplate(
        input_variables=["text"],
        template=template,
        )

        chain = LLMChain(llm=llm, prompt=prompt)

        result = perform_classification(row["text"], chain)
    except Exception as e:
        result = str(e)                
        
    result_extended = (cnt, row["text_id"], row["sdg"], result)
    with open(output_data_path+f'/sdg_classification_GPT4_{cnt}.pkl', 'wb') as f:
        pickle.dump(result_extended, f)
    
    results.append(result_extended)
    cnt+=1
    #time.sleep(12) # per GPT4
    time.sleep(1)
    print(result_extended)

(650, 3782, 10, '---SDG 10---')
(651, 5986, 10, "1 validation error for PromptTemplate\n__root__\n  unmatched '{' in format spec (type=value_error)")
(652, 1908, 10, '---SDG 10---')
(653, 3420, 10, '---SDG 10---')
(654, 2233, 10, '---SDG 8---')
(655, 6504, 10, '---SDG 10---')
(656, 4945, 10, '---SDG 10---')
(657, 1329, 10, '---SDG 8---')
(658, 6782, 10, '---SDG 10---')
(659, 406, 10, '---SDG 8---')
(660, 1968, 11, '---SDG 11---')
(661, 1902, 11, '---SDG 11---')
(662, 6209, 11, '---SDG 11---')
(663, 2986, 11, '---SDG 11---')
(664, 3871, 11, '---SDG 8---')
(665, 1564, 11, '---SDG 11---')
(666, 4187, 11, '---SDG 11---')
(667, 4353, 11, '---SDG 11---')
(668, 4349, 11, '---SDG 11---')
(669, 3479, 11, '---SDG 11---')
(670, 1989, 11, '---SDG 11---')
(671, 739, 11, '---SDG 11---')
(672, 1381, 11, '---SDG 9---')
(673, 3418, 11, '---SDG 11---')
(674, 6481, 11, '---SDG 9---')
(675, 3269, 11, '---SDG 11---')
(676, 6077, 11, '---SDG 11---')
(677, 795, 11, '---SDG 11---')
(678, 3019, 11, '---SDG 11---')
(679, 2190, 11, '---SDG 11---')
(680, 5216, 11, '---SDG 11---')
(681, 2301, 11, '---SDG 11---')
(682, 6047, 11, '---SDG 11---')
(683, 4726, 11, '---SDG 11---')
(684, 2688, 11, '---SDG 11---')
(685, 1756, 11, '---SDG 11---')
(686, 3571, 11, '---SDG 11---')
(687, 3211, 11, '---SDG 11---')
(688, 3863, 11, '---SDG 11---')
(689, 4063, 11, '---SDG 3---')
(690, 5806, 11, '---SDG 11---')
(691, 5312, 11, '---SDG 11---')
(692, 3904, 11, '---SDG 11---')
(693, 3444, 11, '---SDG 11---')
(694, 1519, 11, '---SDG 11---')
(695, 1653, 11, '---SDG 11---')
(696, 1900, 11, '---SDG 11---')
(697, 2927, 11, '---SDG 11---')
(698, 3494, 11, '---SDG 11---')
(699, 3673, 11, '---SDG 11---')
(700, 3547, 11, '---SDG 11---')
(701, 5527, 11, '---SDG 11---')
(702, 4443, 11, '---SDG 11---')
(703, 926, 11, '---SDG 11---')
(704, 5272, 11, '---SDG 11---')
(705, 2640, 11, '---SDG 11---')
(706, 2678, 11, '---SDG 11---')
(707, 1725, 11, '---SDG 11---')
(708, 2798, 11, '---SDG 11---')
(709, 172, 11, '---SDG 11---')
(710, 2226, 11, '---SDG 11---')
(711, 1560, 11, '---SDG 11---')
(712, 3315, 11, '---SDG 11---')
(713, 5109, 11, '---SDG 11---')
(714, 5983, 11, '---SDG 11---')
(715, 4398, 11, '---SDG 13---')
(716, 3172, 11, '---SDG 11---')
(717, 148, 11, '---SDG 11---')
(718, 4937, 11, '---SDG 11---')
(719, 6039, 11, '---SDG 7---')
(720, 5667, 12, '---SDG 12---')
(721, 5041, 12, '---SDG 12---')
(722, 3004, 12, '---SDG 12---')
(723, 2110, 12, '---SDG 12---')
(724, 6, 12, '---SDG 12---')
(725, 5328, 12, '---SDG 12---')
(726, 4861, 12, '---SDG 12---')
(727, 167, 12, '---SDG 12---')
(728, 150, 12, '---SDG 12---')
(729, 1992, 12, '---SDG 12---')
(730, 927, 12, '---SDG 12---')
(731, 862, 12, '---SDG 12---')
(732, 4862, 12, '---SDG 12---')
(733, 4183, 12, '---SDG 12---')
(734, 4966, 12, '---SDG 7---')
(735, 3965, 12, '---SDG 12---')
(736, 5790, 12, '---SDG 12---')
(737, 4637, 12, '---SDG 12---')
(738, 5570, 12, '---SDG 12---')
(739, 4639, 12, '---SDG 12---')
(740, 5426, 12, '---SDG 12---')
(741, 6128, 12, '---SDG 8---')
(742, 2486, 12, '---SDG 12---')
(743, 4508, 12, '---SDG 12---')
(744, 3760, 12, '---SDG 12---')
(745, 5971, 12, '---SDG 12---')
(746, 4087, 12, '---SDG 12---')
(747, 280, 12, '---SDG 12---')
(748, 1466, 12, '---SDG 12---')
(749, 4683, 12, '---SDG 13---')
(750, 4920, 12, '---SDG 9---')
(751, 1230, 12, '---SDG 12---')
(752, 6145, 12, '---SDG 12---')
(753, 3777, 12, '---SDG 12---')
(754, 33, 12, '---SDG 12---')
(755, 1437, 12, '---SDG 12---')
(756, 802, 12, '---SDG 12---')
(757, 2238, 12, '---SDG 12---')
(758, 6755, 12, '---SDG 12---')
(759, 3658, 12, '---SDG 12---')
(760, 4362, 12, '---SDG 12---')
(761, 6100, 12, '---SDG 12---')
(762, 3964, 12, '---SDG 12---')
(763, 4290, 12, '---SDG 12---')
(764, 4097, 12, '---SDG 12---')
(765, 123, 12, '---SDG 12---')
(766, 4584, 12, '---SDG 12---')
(767, 63, 12, '---SDG 12---')
(768, 4077, 12, '---SDG 12---')
(769, 6154, 12, '---SDG 12---')
(770, 3851, 12, '---SDG 12---')
(771, 1616, 12, '---SDG 12---')
(772, 5617, 12, '---SDG 12---')
(773, 2243, 12, '---SDG 12---')
(774, 1134, 12, '---SDG 12---')
(775, 1049, 12, '---SDG 12---')
(776, 430, 12, '---SDG 12---')
(777, 2354, 12, '---SDG 12---')
(778, 141, 12, '---SDG 12---')
(779, 126, 12, '---SDG 12--- (Responsible Consumption and Production)')
(780, 3805, 13, '---SDG 13---')
(781, 2862, 13, '---SDG 13---')
(782, 2180, 13, '---SDG 11---')
(783, 2676, 13, '---SDG 13---')
(784, 5685, 13, '---SDG 13---')
(785, 2312, 13, '---SDG 13---')
(786, 1062, 13, '---SDG 13---')
(787, 2293, 13, '---SDG 13---')
(788, 760, 13, '---SDG 13---')
(789, 611, 13, '---SDG 13---')
(790, 3633, 13, '---SDG 15---')
(791, 4001, 13, '---SDG 13---')
(792, 2228, 13, '---SDG 13---')
(793, 2575, 13, '---SDG 13---')
(794, 5881, 13, '---SDG 13---')
(795, 2540, 13, '---SDG 13---')
(796, 6671, 13, '---SDG 13---')
(797, 4343, 13, '---SDG 13---')
(798, 1964, 13, '---SDG 5---')
(799, 1620, 13, '---SDG 13---')
(800, 3379, 13, '---SDG 13---')
(801, 4843, 13, '---SDG 13---')
(802, 6675, 13, '---SDG 13---')
(803, 6696, 13, '---SDG 13---')
(804, 5030, 13, '---SDG 13---')
(805, 5047, 13, '---SDG 13---')
(806, 220, 13, '---SDG 13--- (Climate Action)')
(807, 1613, 13, '---SDG 12---')
(808, 1863, 13, '---SDG 7---')
(809, 5441, 13, '---SDG 13---')
(810, 3560, 13, '---SDG 13---')
(811, 5575, 13, '---SDG 4---')
(812, 3518, 13, '---SDG 13---')
(813, 2094, 13, '---SDG 13---')
(814, 5761, 13, '---SDG 13---')
(815, 4378, 13, '---SDG 17---')
(816, 4186, 13, '---SDG 13---')
(817, 3475, 13, '---SDG 13---')
(818, 4235, 13, '---SDG 13---')
(819, 836, 13, '---SDG 13---')
(820, 4776, 13, '---SDG 13---')
(821, 2958, 13, '---SDG 13---')
(822, 3880, 13, '---SDG 13---')
(823, 1912, 13, '---SDG 13--- (Climate Action)')
(824, 3738, 13, '---SDG 13---')
(825, 1416, 13, '---SDG 13---')
(826, 6007, 13, '---SDG 13---')
(827, 3451, 13, '---SDG 13---')
(828, 5275, 13, '---SDG 13---')
(829, 6637, 13, '---SDG 13---')
(830, 5363, 13, '---SDG 13---')
(831, 116, 13, '---SDG 13---')
(832, 872, 13, '---SDG 13---')
(833, 6170, 13, '---SDG 13---')
(834, 4524, 13, '---SDG 13---')
(835, 3126, 13, '---SDG 13---')
(836, 2077, 13, '---SDG 13---')
(837, 2818, 13, '---SDG 13---')
(838, 92, 13, '---SDG 13---')
(839, 3086, 13, '---SDG 13---')
(840, 5094, 14, '---SDG 14---')
(841, 830, 14, '---SDG 15---')
(842, 2475, 14, '---SDG 14---')
(843, 229, 14, '---SDG 14---')
(844, 925, 14, '---SDG 14--- (Life Below Water)')
(845, 4721, 14, '---SDG 14---')
(846, 6196, 14, '---SDG 14---')
(847, 432, 14, '---SDG 14---')
(848, 4876, 14, '---SDG 14---')
(849, 785, 14, '---SDG 14---')
(850, 3619, 14, '---SDG 14---')
(851, 4158, 14, '---SDG 14---')
(852, 5523, 14, '---SDG 14---')
(853, 1012, 14, '---SDG 14---')
(854, 1453, 14, '---SDG 14---')
(855, 6496, 14, '---SDG 14---')
(856, 843, 14, '---SDG 14---')
(857, 4311, 14, '---SDG 14---')
(858, 3448, 14, '---SDG 14---')
(859, 3360, 14, '---SDG 14---')
(860, 5600, 14, '---SDG 14---')
(861, 6434, 14, '---SDG 14---')
(862, 5450, 14, '---SDG 14---')
(863, 6225, 14, '---SDG 14---')
(864, 4600, 14, '---SDG 14--- (Life Below Water)')
(865, 2639, 14, '---SDG 14---')
(866, 2234, 14, '---SDG 14---')
(867, 2277, 14, '---SDG 14---')
(868, 42, 14, '---SDG 14---')
(869, 775, 14, '---SDG 14---')
(870, 3877, 14, '---SDG 14---')
(871, 71, 14, '---SDG 14---')
(872, 5815, 14, '---SDG 14---')
(873, 1388, 14, '---SDG 14---')
(874, 3404, 14, '---SDG 14---')
(875, 2212, 14, '---SDG 14---')
(876, 4014, 14, '---SDG 14---')
(877, 1200, 14, '---SDG 14---')
(878, 2525, 14, '---SDG 14---')
(879, 864, 14, '---SDG 14---')
(880, 3804, 14, '---SDG 14---')
(881, 440, 14, '---SDG 14---')
(882, 6698, 14, '---SDG 14---')
(883, 1348, 14, '---SDG 14---')
(884, 4396, 14, '---SDG 14---')
(885, 3059, 14, '---SDG 14---')
(886, 2693, 14, '---SDG 14---')
(887, 5734, 14, '---SDG 14---')
(888, 1089, 14, '---SDG 14---')
(889, 5290, 14, '---SDG 14---')
(890, 5720, 14, '---SDG 14---')
(891, 204, 14, '---SDG 14--- (Life Below Water)')
(892, 6541, 14, '---SDG 14---')
(893, 2042, 14, '---SDG 10---')
(894, 3687, 14, '---SDG 14---')
(895, 5519, 14, '---SDG 14---')
(896, 3637, 14, '---SDG 14---')
(897, 4240, 14, '---SDG 14--- (Life Below Water)')
(898, 640, 14, '---SDG 14---')
(899, 3336, 14, '---SDG 14---')
(900, 893, 15, '---SDG 15---')

(901, 6606, 15, '---SDG 13---')
(902, 4075, 15, '---SDG 15---')
(903, 3920, 15, '---SDG 15---')
(904, 794, 15, '---SDG 15---')
(905, 78, 15, '---SDG 15---')
(906, 2788, 15, '---SDG 15---')
(907, 3261, 15, '---SDG 13---')
(908, 3358, 15, '---SDG 15---')
(909, 759, 15, '---SDG 15---')
(910, 1455, 15, '---SDG 15---')
(911, 724, 15, '---SDG 15---')
(912, 1167, 15, '---SDG 15---')
(913, 5970, 15, '---SDG 15---')
(914, 4268, 15, '---SDG 15---')
(915, 6298, 15, '---SDG 15---')
(916, 588, 15, '---SDG 15---')
(917, 2246, 15, '---SDG 15---')
(918, 1924, 15, '---SDG 13---')
(919, 3281, 15, '---SDG 15---')
(920, 1767, 15, '---SDG 15---')
(921, 1957, 15, '---SDG 13---')
(922, 980, 15, '---SDG 15---')
(923, 1299, 15, '---SDG 15---')
(924, 5980, 15, '---SDG 15---')
(925, 2985, 15, '---SDG 15---')
(926, 1515, 15, '---SDG 13---')
(927, 6479, 15, '---SDG 15---')
(928, 2296, 15, '---SDG 15---')
(929, 3610, 15, '---SDG 15---')
(930, 152, 15, '---SDG 15---')
(931, 658, 15, '---SDG 15---')
(932, 1672, 15, '---SDG 15---')
(933, 3170, 15, '---SDG 15---')
(934, 2084, 15, '---SDG 15---')
(935, 4203, 15, '---SDG 15---')
(936, 3947, 15, '---SDG 15---')
(937, 3491, 15, '---SDG 15---')
(938, 2926, 15, '---SDG 15---')
(939, 6288, 15, '---SDG 15---')
(940, 2669, 15, '---SDG 15---')
(941, 2725, 15, '---SDG 15---')
(942, 1516, 15, '---SDG 15---')
(943, 1285, 15, '---SDG 15---')
(944, 4219, 15, '---SDG 15---')
(945, 3113, 15, '---SDG 15---')
(946, 4121, 15, '---SDG 15---')
(947, 3264, 15, '---SDG 15---')
(948, 2523, 15, '---SDG 15---')
(949, 3474, 15, '---SDG 15---')
(950, 518, 15, '---SDG 15---')
(951, 2066, 15, '---SDG 14---')
(952, 389, 15, '---SDG 15---')
(953, 943, 15, '---SDG 15---')
(954, 6522, 15, '---SDG 15---')
(955, 3665, 15, '---SDG 15---')
(956, 2906, 15, '---SDG 15---')
(957, 3934, 15, '---SDG 15---')
(958, 524, 15, '---SDG 15---')
(959, 4504, 15, '---SDG 15---')
(960, 6558, 16, '---SDG 16---')
(961, 4896, 16, '---SDG 16---')
(962, 5813, 16, '---SDG 16---')
(963, 5147, 16, '---SDG 16---')
(964, 20, 16, '---SDG 16---')
(965, 4754, 16, '---SDG 16---')
(966, 930, 16, '---SDG 16---')
(967, 4430, 16, '---SDG 16---')
(968, 2761, 16, '---SDG 16---')
(969, 3839, 16, '---SDG 16---')
(970, 3501, 16, '---SDG 16---')
(971, 4998, 16, '---SDG 16---')
(972, 6738, 16, '---SDG 16---')
(973, 3540, 16, '---SDG 16---')
(974, 283, 16, '---SDG 16---')
(975, 4891, 16, '---SDG 8---')
(976, 3236, 16, '---SDG 16---')
(977, 6715, 16, '---SDG 3---')
(978, 2543, 16, '---SDG 16---')
(979, 64, 16, '---SDG 16---')
(980, 3614, 16, '---SDG 16---')
(981, 4520, 16, '---SDG 3---')
(982, 569, 16, '---SDG 16---')
(983, 543, 16, '---SDG 16---')
(984, 4331, 16, '---SDG 16---')
(985, 5742, 16, '---SDG 16---')
(986, 1384, 16, '---SDG 16---')
(987, 2092, 16, '---SDG 5---')
(988, 2472, 16, '---SDG 16---')
(989, 3167, 16, '---SDG 16---')
(990, 5026, 16, '---SDG 16---')
(991, 2834, 16, '---SDG 16---')
(992, 2469, 16, '---SDG 16---')
(993, 1609, 16, '---SDG 16---')
(994, 5916, 16, '---SDG 16---')
(995, 567, 16, '---SDG 16---')
(996, 4214, 16, '---SDG 16---')
(997, 322, 16, '---SDG 8---')
(998, 6351, 16, '---SDG 16---')
(999, 4375, 16, '---SDG 3---')
(1000, 2522, 16, '---SDG 5---')
(1001, 2889, 16, '---SDG 16---')
(1002, 3927, 16, '---SDG 16---')
(1003, 1248, 16, '---SDG 16---')
(1004, 57, 16, '---SDG 16---')
(1005, 339, 16, '---SDG 16---')
(1006, 4967, 16, '---SDG 16---')
(1007, 1794, 16, '---SDG 5---')
(1008, 1864, 16, '---SDG 16---')
(1009, 973, 16, '---SDG 16---')
(1010, 535, 16, '---SDG 16---')
(1011, 2370, 16, '---SDG 11---')
(1012, 2870, 16, '---SDG 16---')
(1013, 6330, 16, '---SDG 16---')
(1014, 2723, 16, '---SDG 16---')
(1015, 4695, 16, '---SDG 16---')
(1016, 6628, 16, '---SDG 16---')
(1017, 4563, 16, '---SDG 16---')
(1018, 6710, 16, '---SDG 16---')
(1019, 1947, 16, '---SDG 16---')

In [ ]:
results

In [ ]:
# len(results)

In [ ]:
# len(results_part1)

In [ ]:
# results_tot = results_part1 + results

In [ ]:
# len(results_tot)

In [ ]:
# results = results_tot

In [ ]:
# results_part1 = results.copy()

In [ ]:
# results_part1

In [12]:
import pickle
import pandas as pd
import glob
from sklearn.metrics import classification_report

In [5]:
output_data_path = output_dir

files = glob.glob(output_data_path + "/*.pkl")

In [6]:
results_complete = []
for file in files:
    res = pd.read_pickle(file)

    # try:
    #     if len(res[3]['choices'])>1:
    #         raise Exception('ERROR: Multilabel detected!')
    #         break
    #     sdg_pred = res[3]['choices'][0]['message']['content']
    #     res4df = (res[0], res[1], res[2], sdg_pred)
    #     print(res4df)
    #     tuple_list.append(res4df)
    # except:
    #     print("#################################################################")
    #     print(res)
    #     print("#################################################################")

    # print(res)
    results_complete.append(res)
    # break

In [7]:
results  =results_complete

In [8]:
len(results)

1020

In [9]:
results_processed = pd.DataFrame(results, columns=['cnt', 'text_id', 'sdg','result'])
results_processed['label_pred'] = results_processed['result'].str.extract(r'SDG (\d+)')
results_processed

      cnt  text_id  sdg        result label_pred
0     852     5523   14  ---SDG 14---         14
1     355     4613    5   ---SDG 5---          5
2     466     5293    7   ---SDG 7---          7
3     210      562    3   ---SDG 3---          3
4     577     2791    9   ---SDG 9---          9
...   ...      ...  ...           ...        ...
1015   61      357    1   ---SDG 1---          1
1016  836     2077   13  ---SDG 13---         13
1017  333     2109    5   ---SDG 5---          5
1018  775     1049   12  ---SDG 12---         12
1019  924     5980   15  ---SDG 15---         15

[1020 rows x 5 columns]

In [ ]:
# results_processed.to_excel("gpt3_few_3_shot_tmp.xlsx")

In [ ]:
# results_processed = results.apply(convert_to_dict).apply(pd.Series).loc[:, ["motivation_for_the_answer", "detected_goals", "selected_goal"]]
# results_processed

In [ ]:
# results_processed2 = results.apply(convert_to_dict).apply(pd.Series).loc[:, ["goal_label", "motivation_for_the_answer", "sdg_probability"]]
# results_processed2

In [ ]:
# results_processed = pd.DataFrame(results, columns=['text_id', 'result'])
# results_processed['label_pred'] = results_processed['result'].str.extract(r'SDG (\d+)')
# results_processed

In [13]:
# final = data_sel.merge(results_processed, left_index=True, right_index=True)
final = data_sel.merge(results_processed.drop(columns=['sdg']), left_on='text_id', right_on='text_id')
# final = data_sel.merge(results_processed2, left_index=True, right_index=True)
# final = final.drop(columns='Unnamed: 0')
final

,text_id,doi,text,sdg,labels_negative,labels_positive,agreement,cnt,result,label_pred
0,6668,NaN,L train resumes service after derailing from t...,0,NaN,NaN,NaN,0,"---SDG 9--- (Industry, Innovation and Infrastr...",9
1,6099,NaN,Brooklyn Deckerâ€™s SI Swimsuit Cover Photo Shoo...,0,NaN,NaN,NaN,1,---SDG 0---,0
2,6471,NaN,Mumbai: The Bombay High Court has suspended th...,0,NaN,NaN,NaN,2,---SDG 16---,16
3,1786,NaN,Four minor planets named after Indian scientis...,0,NaN,NaN,NaN,3,---SDG 9---,9
4,2143,NaN,By Dipo Olowookere\n\nThe President of the Man...,0,NaN,NaN,NaN,4,---SDG 7---,7
...,...,...,...,...,...,...,...,...,...,...
1015,4695,10.1080/0961452032000170794,Human rights NGOs were the vanguard of the str...,16,0.0,6.0,1.0,1015,---SDG 16---,16
1016,6628,10.1057/9781137023735_15,An important transformation took place in inte...,16,0.0,6.0,1.0,1016,---SDG 16---,16
1017,4563,10.33751/JHSS.V4I1.1904,Accountability of government officials' action...,16,0.0,6.0,1.0,1017,---SDG 16---,16
1018,6710,10.2139/SSRN.460480,"In Phillips Petroleum Co. v. Shutts, the Unite...",16,0.0,5.0,1.0,1018,---SDG 16---,16
1019,1947,10.1177/0032329211415504,"For the past half a century, Latin American sc...",16,0.0,6.0,1.0,1019,---SDG 16---,16

In [14]:
final_xlsx_filename

'./data/output/2023.11.28-1_GPT_few-shot-learning_all-17-sdg_1020-texts_GPT3.5_3-shots_SEMANTIC-SIMILARITY/gpt_1000_texts_17sdg_temperature_0.0_model_name_gpt-3.5-turbo-0301.xlsx'

In [15]:
final.to_excel(final_xlsx_filename)

In [16]:
final_corrected = final[~final.label_pred.isna()]

In [17]:
import numpy as np
y_true = final_corrected.sdg 
y_pred = final_corrected.label_pred
y_true = np.array([int(label) for label in y_true])
y_pred = np.array([int(label) for label in y_pred])
print(y_true.shape[0])
print(y_pred.shape[0])
#target_names = ['sdg 0', 'sdg 1', 'sdg 2',  'sdg 3']

print(classification_report(y_true, y_pred)) #, target_names=target_names))

1019
1019
              precision    recall  f1-score   support

           0       1.00      0.40      0.57        60
           1       0.71      0.80      0.75        60
           2       0.96      0.88      0.92        60
           3       0.73      0.98      0.84        60
           4       0.90      0.93      0.92        60
           5       0.90      0.92      0.91        60
           6       0.98      0.93      0.96        60
           7       0.88      0.85      0.86        60
           8       0.59      0.75      0.66        60
           9       0.76      0.80      0.78        60
          10       0.76      0.58      0.65        59
          11       0.93      0.90      0.92        60
          12       0.89      0.93      0.91        60
          13       0.78      0.88      0.83        60
          14       0.95      0.97      0.96        60
          15       0.92      0.90      0.91        60
          16       0.89      0.85      0.87        60
          17       0.00      0.00      0.00         0

    accuracy                           0.84      1019
   macro avg       0.81      0.79      0.79      1019
weighted avg       0.86      0.84      0.84      1019

/opt/conda/lib/python3.10/site-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/opt/conda/lib/python3.10/site-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/opt/conda/lib/python3.10/site-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [18]:
classification_report_filename

'./data/output/2023.11.28-1_GPT_few-shot-learning_all-17-sdg_1020-texts_GPT3.5_3-shots_SEMANTIC-SIMILARITY/gpt_1000_texts_17sdg_temperature_0.0_model_name_gpt-3.5-turbo-0301_classification_report.xlsx'

In [19]:
report=classification_report(y_true, y_pred, output_dict=True)
report_df = pd.DataFrame(report).transpose()
report_df.to_excel(classification_report_filename)

/opt/conda/lib/python3.10/site-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/opt/conda/lib/python3.10/site-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/opt/conda/lib/python3.10/site-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))